.Navbar {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    background: #001529;

    height: 60px;

    padding: 0px 20px;
}
.Menu {
    height: 60px;
    line-height: 60px;
}

.Logo {
    display: inline-block;
    margin-top: 8px;
}
.SearchBar {
    max-width: 440px;
    width: 100%;
    min-width: 100px;
}