.Navbar {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    background: #001529;

    height: 60px;

    padding: 0px 20px;
}
.ant-menu {
    font-size: 18px !important;
}
.Menu {
    height: 60px;
    line-height: 60px;
}

.Logo {
    display: inline-block;
}